pkgbase = monocode
	pkgdesc = MonoCode Linux — interface desktop para agentes de código (Tauri + React)
	pkgver = 0.1.92
	pkgrel = 1
	url = https://github.com/yanhenrique-dev/Monocode-linux
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = nodejs
	makedepends = npm
	makedepends = rust
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = libsoup3
	depends = libayatana-appindicator
	depends = openssl
	depends = librsvg
	depends = zenity
	depends = hicolor-icon-theme
	depends = xdg-utils
	optdepends = claude-code: provedor Claude Code
	provides = monocode
	conflicts = monocode-bin
	source = monocode-0.1.92::git+https://github.com/yanhenrique-dev/Monocode-linux.git#tag=v0.1.92
	source = monocode.desktop
	source = LICENSE::https://github.com/yanhenrique-dev/Monocode-linux/raw/v0.1.92/LICENSE
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = monocode
